@import url(fontawesome-all.min.css);

@import
	url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic")
	;

:root { -
	-color-baemin: #2ac1bc; -
	-animation-duration: 300ms; -
	-color-white: #ffffff; -
	-color-yellow: #fff7d1; -
	-color-lightcoral: #e77471; -
	-color-lightcoralpink3: #f08080; -
	-color-livingcoral: #ff6f61; -
	-color-livingcoral: #ff6d70; -
	-color-light-white: #eeeeee; -
	-color-dark-white: #bdbdbd; -
	-color-pink: #fe918d; -
	-color-dark-pink: #ff6863; -
	-color-black: #4d4d4d; -
	-color-dark-grey: #4d4d4d; -
	-color-grey: #616161; -
	-color-light-grey: #7c7979; -
	-color-blue: #73aace; -
	-color-yellow: #fff7d1; -
	-color-orange: #feb546; -
	-color-black: #000000;
	/* Font size */ -
	-font-large: 48px; -
	-font-medium: 28px; -
	-font-regular: 18px; -
	-font-small: 16px; -
	-font-micro: 14px;
	/* Font weight */ -
	-weight-bold: 700; -
	-weight-semi-bold: 600; -
	-weight-regular: 400;
	/* Size */ -
	-size-border-radius: 4px;
	/* Annimation */ -
	-animation-duration: 300ms;
	font-family: "BMHANNAPro";
}

/* Universal tags */
* {
	box-sizing: border-box;
	/* text-align: center; */
	margin-top: 5px;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	/* color: var(--color-white); */
}

ul {
	padding-left: 0;
	list-style: none;
	margin-left: 5px;
}

/* li {
  list-style: none;
  text-align: left;
} */
button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

.bodysize {
	padding: 0 40 0 40;
}

/* Typography */
h1 {
	font-size: var(- -font-large);
	font-weight: var(- -weight-bold);
	color: var(- -color-black);
	margin: 16px 0px;
}

h2 {
	font-size: var(- -font-medium);
	font-weight: var(- -weight-semi-bold);
	color: var(- -color-black);
	margin: 8px 0;
}

h3 {
	font-size: var(- -font-regular);
	font-weight: var(- -font-regular);
	color: var(- -color-black);
	margin: 8px 0;
}

p {
	font-size: var(- -font-regular);
	font-weight: var(- -font-regular);
	color: var(- -color-dark-grey);
	margin: 4px 0;
	text-align: left;
}

/* ----------210505--------- */
.bodystyle {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.content {
	/* margin-left: 25%; */
	padding: 1px 16px;
	height: 1000px;
	/* width: 20%; */
	width: 800px;
	/* padding-left: 100px; */
}

/*좌측 네비게이션바 css*/
.nav {
	width: 110px;
	margin: 0;
	padding: 7px;
}

li a {
	display: block;
	/* color: #000; */
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #ff6e61bd;
	color: none;
}

/*=============*/
#bodystyle {
	padding: 0 40 0 40;
}

table {
	width: 100%;
	/* margin-left: 25%; */
	border-collapse: collapse;
}

th, td {
	border: 3px solid #bcbcbc25; /*구분선 색 */
	text-align: center;
	padding: 8px;
}

th {
	background-color: #ff6e61bd;
	color: white;
}

td {
	background-color: #f2f2f248; /*리스트 배경색 */
}

caption {
	color: #111111;
	font-size: 20px;
	background-color: #ffffff;
}

input[type="text"], input[type="password"], textarea {
	width: 100%;
}

/*===============================================================*/

/* Nav container */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
	background-color: var(- -background-color);
}

/* Logo with text */
.navbar__logo {
	font-size: 24px;
	color: var(- -text-color);
}

.navbar__logo i {
	color: var(- -accent-color);
}

/* Menu */
.navbar__menu {
	display: flex;
	padding-left: 0;
	list-style: none;
}

.navbar__menu li {
	padding: 8px 12px;
}

.navbar__menu li:hover {
	background-color: var(- -accent-color);
	border-radius: 4px;
}

.navbar__icons {
	list-style: none;
	color: var(- -text-color);
	display: flex;
	padding-left: 0;
}

/* Icons */
.navbar__icons li {
	padding: 8px 12px;
}

/* Toggle button */
.navbar__toggleBtn {
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: var(- -accent-color);
}

/* For small screen */
@media screen and (max-width: 768px) {
	/* Nav container */
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	/* Menu */
	.navbar__menu {
		display: none;
		flex-direction: column;
		text-align: center;
		width: 100%;
	}
	.navbar__menu a {
		/* Fill in an entire line so that user can click on any space */
		display: block;
	}
	/* Icons */
	.navbar__icons {
		display: none;
		justify-content: center;
		width: 100%;
	}
	/* Toggle button */
	.navbar__toggleBtn {
		display: block;
	}
	/* When toggle button is clicked - active state */
	.navbar__menu.active, .navbar__icons.active {
		display: flex;
	}
}

/*==================================================================================*/
#banner {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	background-image: url("../../img/zero_2.jpg");
	/*  background:url('/assets/img/zero_2.jpg') no-repeat;
  background-image:url('/assets/img/zero_2.jpg');
  background-repeat: no-repeat; */
	/* background-image: url("img/zero_2.jpg"); */
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	padding: 6em 0 2em 0;
	/*  background-attachment: fixed; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 0 !important;
	cursor: default;
	height: 60vh;
	margin-top: 3.25em;
	margin-bottom: -3.25em;
	max-height: 32em;
	min-height: 22em;
	position: relative;
	top: -3.25em;
}

.content__2 {
	display: flex;
	justify-content: space-between;
	margin: 34px;
	padding: 40px;
	text-align: left;
}

content__desc {
	padding: 40px;
	text-align: left;
}

content__desc2 {
	padding: 40px;
	text-align: left;
}
/*-----------------2021.05.13------------------------*/

/* Actions */
ul.actions {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	cursor: default;
	list-style: none;
	margin-left: -1em;
	padding-left: 0;
}

ul.actions li {
	padding: 0 0 0 1em;
	vertical-align: middle;
}

ul.actions.special {
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-left: 0;
}

ul.actions.special li:first-child {
	padding-left: 0;
}

ul.actions.stacked {
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 0;
}

ul.actions.stacked li {
	padding: 1.3em 0 0 0;
}

ul.actions.stacked li:first-child {
	padding-top: 0;
}

ul.actions.fit {
	width: calc(100% + 1em);
}

ul.actions.fit li {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	width: 100%;
}

ul.actions.fit li>* {
	width: 100%;
}

ul.actions.fit.stacked {
	width: 100%;
}

.like {
	width: 25px;
	height: 25px;
	background-image: url('../../img/favorite_border_white_18x18.png');
	background-repeat:no-repeat;
}

.like1 {
	width: 25px;
	height: 25px;
	background-image: url('../../img/favorite_black_18x18.png');
	background-repeat:no-repeat;
}

.like0 {
	width: 25px;
	height: 25px;
	background-image: url('../../img/favorite_border_white_18x18.png');
	background-repeat:no-repeat;
}