@charset "EUC-KR";

/* Contact */

#contact {
    background-color:#ffffff;
    text-align: left;
}

.company__body {
    display: flex;
}

.company {
    display: flex;
}

.brand__logo {
    width: 150px;
    height: fit-content;
}

.contact__title,
.contact__email,
.contact__rights {
    color: #4d4d4d;
    margin-left: 30px;
    font-size: 14px;
}

.contact__bottom {
    color: #4d4d4d;
    margin-left: 180px;
      font-size: 14px;
}

.contact__title {
    margin: 32px 0;
}

.contact__links {
    font-size: 11px;
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: var(--color-yellow);
}
